@import 'fonts';

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $neutrals-900;
    background: #fff;
    font-size: 1.6rem;
    font-family: 'Inter', 'Arial', sans-serif;
    min-width: 360px;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

#app {
    height: 100%;
}

* {
    box-sizing: border-box;

    &:after {
        box-sizing: border-box;
    }

    &:before {
        box-sizing: border-box;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

svg *[stroke] {
    stroke: currentColor;
}
svg * {
    transition-property: fill, stroke;
}

/* Remove all animations and transitions for people that prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
