@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1 / 1;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

@mixin scroll {
    &::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $radius-lg;
        background-color: $neutrals-400;
        cursor: pointer;

        @include hover {
          background-color: $neutrals-500;
        }
    }
}

@mixin dropdown-list {
  box-shadow: $regular-shadow;
  background-color: $neutrals-100;
  width: max-content;
  min-width: 28.8rem;
  max-width: 52rem;
  border-radius: 2rem;
}

@mixin dropdown-list-item {
  @include text-2;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  width: 100%;
  padding: 1.6rem 2rem;
  text-align: left;

  &:nth-child(1) {
    border-radius: 2rem 2rem 0 0;
  }
  &:last-child {
    border-radius: 0 0 2rem 2rem;
  }

  &:hover {
    background-color: $primary-200;
  }

  &:active {
    background-color: $primary-300;
  }
}

@mixin word-type {
  @include tag-big;
  color: $neutrals-700;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@mixin word-tags-list-small {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  height: 2.4rem;
  max-height: 2.4rem;
}

@mixin word-tags-list-big {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  width: 100%;
  height: 3.2rem;
  max-height: 3.2rem;
}

// *** Grid mixins below ***

@mixin grid16($columns: 4) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 1.6rem;

    // media
}

@mixin grid20($columns: 4) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 2rem;
}

@mixin grid24($columns: 4) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 2.4rem;
}

// *** Fonts mixins below ***

// Text

@mixin text-1 {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

@mixin text-2 {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

@mixin text-3 {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

@mixin text-4 {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

@mixin text-5 {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

// Subheading

@mixin subheading-1 {
    font-family: Inter-Medium, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
}

@mixin subheading-2 {
    font-family: Inter-Medium, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

@mixin subheading-3 {
    font-family: Inter-Medium, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

@mixin subheading-4 {
    font-family: Inter-Medium, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

@mixin subheading-5 {
    font-family: Inter-Medium, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

// Heading

@mixin heading-1 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    line-height: 4.4rem;
}

@mixin heading-2 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

@mixin heading-3 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
}

@mixin heading-4 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

@mixin heading-5 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

@mixin heading-6 {
    font-family: Inter-Semibold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

// Tag

@mixin tag-large {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
}

@mixin tag-big {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
}

@mixin tag-small {
    font-family: Inter-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
}
