$neutrals-500: #cdcdcd;
$neutrals-100: #ffffff;
$neutrals-600: #737782;
$neutrals-700: #595d68;
$neutrals-800: #373942;
$neutrals-900: #272932;
$neutrals-400: #dddddd;
$neutrals-200: #fafafa;
$neutrals-300: #eeeeee;

$primary-500: #6c8dff;
$primary-100: #e1eaff;
$primary-200: #d7e0ff;
$primary-300: #b3c3fd;
$primary-400: #9eb4ff;
$primary-600: #5775dc;
$primary-700: #364db7;
$primary-800: #223393;
$primary-900: #14227a;

$success-500: #41db4e;
$success-100: #e3fdd9;
$success-200: #c1fbb4;
$success-300: #97f48d;
$success-400: #6fe96e;
$success-600: #2fbc48;
$success-700: #209d41;
$success-800: #147f3a;
$success-900: #0c6935;

$secondary-500: #4da3ff;
$secondary-100: #e0f5ff;
$secondary-600: #4c8adb;
$secondary-700: #3467b7;
$secondary-800: #214793;
$secondary-900: #0c2c7a;
$secondary-400: #81bbff;
$secondary-200: #bfddff;
$secondary-300: #add3ff;

$danger-500: #ff384f;
$danger-100: #ffe1d7;
$danger-600: #db284d;
$danger-700: #ca2744;
$danger-800: #931144;
$danger-900: #7a0a40;
$danger-400: #ff696d;
$danger-200: #ffd4cc;
$danger-300: #ff8f87;

$warning-500: #ffaf05;
$warning-100: #fff5cd;
$warning-600: #db8f03;
$warning-700: #b77102;
$warning-800: #935601;
$warning-900: #7a490c;
$warning-400: #ffc943;
$warning-200: #ffe89b;
$warning-300: #ffd869;

$outer-shadow: 0px 0px 8px 0px #11111a1a;
$inner-shadow: 0px 1px 0px 0px #11111a0d;
$regular-shadow: $inner-shadow, $outer-shadow;

$radius-full: 100%;
$radius-2xl: 4rem;
$radius-xl: 2rem;
$radius-lg: 1.6rem;
$radius-md: 1.2rem;
$radius-sm: 1rem;
$radius-xs: 0.9rem;

// Primary/purple
// $primary-purple: #6c8dff;
// // Text/black
// $text-black: #272932;
// // Icon/black
// $icon-black: #272932;
// // Icon/danger
// $icon-danger: #ca2744;
// // Text/danger
// $text-danger: #ca2744;
// // Text/grey dark
// $text-grey-dark: #595d68;
// // Icon/grey dark
// $icon-grey-dark: #595d68;
// // Text/grey
// $text-grey: #737782;
// // Text/light grey
// $text-light-grey: #cdcdcd;
// // Icon/grey
// $icon-grey: #737782;
// // Icon/primary
// $icon-primary: #6c8dff;
// // Icon/danger bright
// $icon-danger-bright: #ff384f;
// // Background/grey
// $background-grey: #fafafa;
// // Text/white
// $text-white: #ffffff;
// // Background/purple
// $background-purple: #b3c3fd;
// // Background/white super lucid
// $background-white-super-lucid: rgba(255, 255, 255, 0.3);
// // Background/dark grey blue
// $background-dark-grey-blue: #464f6f;
// // Background/grey dark
// $background-grey-dark: #c2c8d3;
// // Button/default
// $button-default: #9eb4ff;
// // Button/primary
// $button-primary: #6c8dff;
// // Button/add button/hover
// $button-add-button-hover: #b3c3fd;
// // Button/add button/clicked
// $button-add-button-clicked: #6c8dff;
// // Button/add button/disabled
// $button-add-button-disabled: #eeeeee;
// // Background/white
// $background-white: #ffffff;
// // Button text/add button/default, clicked
// $button-text-add-button-default-clicked: #272932;
// // Button text/add button/default, clicked
// $button-text-add-button-default-clicked: #272932;
// // Button text/add button/disabled
// $button-text-add-button-disabled: #737782;
// // Tag/Blue light
// $tag-blue-light: #add3ff;
// // Warning state/Warning
// $warning-state-warning: #ffaf05;
// // Success state/Green
// $success-state-green: #41db4e;
// // Success state/Dark green
// $success-state-dark-green: #2fbc48;
