// Neutrals 500
$neutrals-500: #cdcdcd;
// Neutrals 100
$neutrals-100: #ffffff;
// Neutrals 600
$neutrals-600: #737782;
// Neutrals 700
$neutrals-700: #595d68;
// Neutrals 800
$neutrals-800: #373942;
// Neutrals 900
$neutrals-900: #272932;
// Neutrals 400
$neutrals-400: #dddddd;
// Neutrals 200
$neutrals-200: #fafafa;
// Neutrals 300
$neutrals-300: #eeeeee;
// Primary 500
$primary-500: #6c8dff;
// Primary 100
$primary-100: #e1eaff;
// Primary 200
$primary-200: #d7e0ff;
// Primary 300
$primary-300: #b3c3fd;
// Primary 400
$primary-400: #9eb4ff;
// Primary 600
$primary-600: #5775dc;
// Primary 700
$primary-700: #364db7;
// Primary 800
$primary-800: #223393;
// Primary 900
$primary-900: #14227a;
// Success 500
$success-500: #41db4e;
// Success 100
$success-100: #e3fdd9;
// Success 200
$success-200: #c1fbb4;
// Success 300
$success-300: #97f48d;
// Success 400
$success-400: #6fe96e;
// Success 600
$success-600: #2fbc48;
// Success 700
$success-700: #209d41;
// Success 800
$success-800: #147f3a;
// Success 900
$success-900: #0c6935;
// Secondary 500
$secondary-500: #4da3ff;
// Secondary 100
$secondary-100: #e0f5ff;
// Secondary 600
$secondary-600: #4c8adb;
// Secondary 700
$secondary-700: #3467b7;
// Secondary 800
$secondary-800: #214793;
// Secondary 900
$secondary-900: #0c2c7a;
// Secondary 400
$secondary-400: #81bbff;
// Secondary 200
$secondary-200: #bfddff;
// Secondary 300
$secondary-300: #add3ff;
// Danger 500
$danger-500: #ff384f;
// Danger 100
$danger-100: #ffe1d7;
// Danger 600
$danger-600: #db284d;
// Danger 700
$danger-700: #ca2744;
// Danger 800
$danger-800: #931144;
// Danger 900
$danger-900: #7a0a40;
// Danger 400
$danger-400: #ff696d;
// Danger 200
$danger-200: #ffd4cc;
// Danger 300
$danger-300: #ff8f87;
// Warning 500
$warning-500: #ffaf05;
// Warning 100
$warning-100: #fff5cd;
// Warning 600
$warning-600: #db8f03;
// Warning 700
$warning-700: #b77102;
// Warning 800
$warning-800: #935601;
// Warning 900
$warning-900: #7a490c;
// Warning 400
$warning-400: #ffc943;
// Warning 200
$warning-200: #ffe89b;
// Warning 300
$warning-300: #ffd869;
// Primary/purple
$primary-purple: #6c8dff;
// Text/black
$text-black: #272932;
// Icon/black
$icon-black: #272932;
// Icon/danger
$icon-danger: #ca2744;
// Text/danger
$text-danger: #ca2744;
// Text/grey dark
$text-grey-dark: #595d68;
// Icon/grey dark
$icon-grey-dark: #595d68;
// Text/grey
$text-grey: #737782;
// Text/light grey
$text-light-grey: #cdcdcd;
// Icon/grey
$icon-grey: #737782;
// Icon/primary
$icon-primary: #6c8dff;
// Icon/danger bright
$icon-danger-bright: #ff384f;
// Background/grey
$background-grey: #fafafa;
// Text/white
$text-white: #ffffff;
// Background/purple
$background-purple: #b3c3fd;
// Background/white super lucid
$background-white-super-lucid: rgba(255, 255, 255, 0.3);
// Background/dark grey blue
$background-dark-grey-blue: #464f6f;
// Background/grey dark
$background-grey-dark: #c2c8d3;
// Button/default
$button-default: #9eb4ff;
// Button/primary
$button-primary: #6c8dff;
// Button/add button/hover
$button-add-button-hover: #b3c3fd;
// Button/add button/clicked
$button-add-button-clicked: #6c8dff;
// Button/add button/disabled
$button-add-button-disabled: #eeeeee;
// Background/white
$background-white: #ffffff;
// Button text/add button/default, clicked
$button-text-add-button-default-clicked: #272932;
// Button text/add button/default, clicked
$button-text-add-button-default-clicked: #272932;
// Button text/add button/disabled
$button-text-add-button-disabled: #737782;
// Tag/Blue light
$tag-blue-light: #add3ff;
// Warning state/Warning
$warning-state-warning: #ffaf05;
// Success state/Green
$success-state-green: #41db4e;
// Success state/Dark green
$success-state-dark-green: #2fbc48;
