@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: local('Inter-Regular') ,url("Inter-Regular.woff2") format("woff2"),
    local('Inter-Regular') ,url("Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: local('Inter-Medium') ,url("Inter-Medium.woff2") format("woff2"),
    local('Inter-Medium') ,url("Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: local('Inter-SemiBold') ,url("Inter-SemiBold.woff2") format("woff2"),
    local('Inter-SemiBold') ,url("Inter-SemiBold.woff") format("woff");
}